.e-d-infor {
    text-align: center; /* Canh giữa nội dung văn bản */
    transform: translateX(50%);
  }
  .e-d-infor {
    text-align: center; /* Canh giữa nội dung văn bản */
    transform: translateX(50%);
  }
  
  .image-detail {
    display: inline-block;
    position: relative;
    cursor: pointer; /* Đảm bảo con trỏ thay đổi khi hover */
    transition: opacity 0.3s ease;
  }
  
  .image-detail:hover {
    opacity: 0.8; /* Hiệu ứng mờ khi hover */
  }
  
  .image-detail img {
    transition: transform 0.3s ease; /* Thêm hiệu ứng thu phóng khi hover */
  }
  
  .image-detail:hover img {
    transform: scale(1.1); /* Phóng to hình ảnh khi hover */
  }

  .btn-update {
    margin-right: 10px;
  }

  .btn-action {
    display: flex;
    
  }
   