.employee {
  padding: 20px;
}

.value-search {
  margin-bottom: 50px;
}

.search-button button{
  border-radius: 10px;
  border: 1px solid black;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* Khoảng cách giữa icon và text */
  background-color: #007bff; /* Màu nền xanh */
  color: white; /* Màu chữ trắng */
  border: none; /* Loại bỏ viền */
  border-radius: 5px; /* Bo góc */
  padding: 10px 15px; /* Khoảng cách trong nút */
  font-size: 16px; /* Kích thước chữ */
  font-weight: bold; /* Chữ đậm */
  cursor: pointer; /* Thay đổi con trỏ thành bàn tay khi hover */
  transition: all 0.3s ease; /* Hiệu ứng mượt mà khi hover */
}

.search-button .icon {
  font-size: 18px; /* Kích thước icon */
}

.search-button:hover {
  background-color: #0056b3; /* Màu nền khi hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng */
  transform: translateY(-2px); /* Hiệu ứng nổi */
}

.search-button:active {
  transform: translateY(0); /* Trả về vị trí ban đầu khi nhấn */
  box-shadow: none; /* Loại bỏ đổ bóng khi nhấn */
}
 .paginization {
  display: flex;
  float: right;
 }

 .table-employee{
  margin-bottom: 100px;
}

.tr-value-employee:hover {
  cursor: pointer;
}

/* Nút tạo mới */
.create-btn {
  background-color: #28a745; /* Màu xanh lá */
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.create-btn i {
  margin-right: 8px; /* Khoảng cách giữa icon và text */
}

.create-btn:hover {
  background-color: #218838; /* Màu xanh lá đậm khi hover */
  transform: translateY(-3px); /* Hiệu ứng nổi lên khi hover */
}

.create-btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); /* Hiệu ứng focus */
}
h2 {
  margin-bottom: 50px;
}