.card-product {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: hidden;
}

.card-new-product {
    cursor: pointer;
}

.card-new-product {
    position: relative;
    padding: 20px;
    transition: transform 0.3s ease; 
}

.icons-stars {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 5px;
}

.card-new-product-price {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    /* font-weight: bold; */
}

.icon-header-select {
    display: flex;
    justify-content: center;
    gap: 15px;
    position: absolute;
    top: 50%; /* Canh giữa theo chiều dọc */
    left: 50%; /* Canh giữa theo chiều ngang */
    transform: translate(-50%, -50%); /* Dịch chuyển để icon nằm chính giữa */
    opacity: 0; /* Ẩn các icon ban đầu */
    transition: opacity 0.3s ease, transform 0.3s ease-in-out;
}

.card-new-product:hover .icon-header-select {
    opacity: 1; /* Hiện icon khi hover */
    transform: translate(-50%, -50%) scale(1); /* Giữ vị trí trung tâm */
}

/* Icon button style */
.icon-heart, .icon-shopping-cart, .icon-info {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f0f0f0;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

/* Hover effect */
.icon-header-select .icon-heart:hover,
.icon-header-select .icon-shopping-cart:hover,
.icon-header-select .icon-info:hover {
    transform: translateY(-10px) rotate(180deg); /* Di chuyển lên khi hover */
    background-color: #d01212; /* Thay đổi màu nền */
    color: white; /* Thay đổi màu icon */
}

/* Các icon bên trong */
.icon-heart svg,
.icon-shopping-cart svg,
.icon-info svg {
    font-size: 18px;
    color: #333;
}

/* Thêm hiệu ứng cho icon hover */
.icon-heart:hover svg,
.icon-shopping-cart:hover svg,
.icon-info:hover svg {
    color: white; /* Màu của icon khi hover */
}
