.change-password {
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .form-change-password {
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    width: 900px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    height: auto;
  }
  
  .form-change-password h1 {
    margin-bottom: 30px;
    color: #333;
    font-size: 1.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .form-change-password input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .form-change-password button {
    width: 100%;
    padding: 13px;
    background-color: #042345;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-change-password button:hover {
    background-color: #0056b3;
  }
  
  .form-change-password p {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
  }
  



  .password-standards {
    width: 100%;
    width: 400px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transform: translateY(-30px);
  }
  
  .password-standard {
    display: flex;
    align-items: center; /* Căn giữa các icon và văn bản */
    margin-bottom: 10px;
  }
  
  .password-standard .icon {
    color: green; /* Màu xanh cho dấu tick */
    font-size: 18px;
    margin-right: 10px; /* Khoảng cách giữa icon và văn bản */
  }
  
  .password-standard p {
    margin: 0; /* Bỏ khoảng cách mặc định */
    font-size: 14px;
    color: #333; /* Màu chữ */
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #222; /* Màu chữ tiêu đề */
  }
  
  h6 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #555; /* Màu chữ mô tả */
  }
  

  .error-message-password{

  }
  .error-message-password p {
    width: 100%;
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
/* Định dạng cho liên kết "Come back" */
.back-link {
    font-size: 16px; /* Kích thước chữ */
    color: #0056b3; /* Màu sắc của liên kết */
    text-decoration: none; /* Bỏ gạch dưới mặc định */
    font-weight: bold; /* Đặt chữ in đậm */
    margin-top: 20px; /* Khoảng cách trên */
    display: inline-flex; /* Sử dụng flex để căn chỉnh icon và chữ */
    align-items: center; /* Căn giữa icon và chữ */
  }
  
  /* Định dạng cho icon */
  .back-link svg {
    margin-right: 8px; /* Khoảng cách giữa icon và chữ */
    font-size: 18px; /* Kích thước của icon */
  }
  
  /* Thêm hiệu ứng hover khi người dùng di chuột vào */
  .back-link:hover {
    color: #0056b3; /* Đổi màu khi hover */
    text-decoration: underline; /* Thêm gạch dưới khi hover */
  }
  